.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}
.JokeList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.3), inset 0 0 25px #7e57c2;
    z-index: 2;
}
.JokeList-title {
    font-size: 3rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.3rem;
}
.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}
.JokeList-sidebar img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.3), inset 0 0 25px #7e57c2;
}
.JokeList-jokes {
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow-y: scroll;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.3);
}
.fa-arrow-up,
.fa-arrow-down {
    font-size : 1.5rem;
    margin : 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.fa-arrow-up:hover {
    animation-name: move-up;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: green;
}
.fa-arrow-down:hover {
    animation-name: move-down;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: red;
}
@keyframes move-up {
    0%,50%,100% {
        transform: translateY(0);
    }
    25%,75% {
        transform: translateY(-3px)
    }
}
@keyframes move-down {
    0%,50%,100% {
        transform: translateY(0);
    }
    25%,75% {
        transform: translateY(3px)
    }
}
.JokeList-spinner {
    color: white;
    text-align: center;
}
.JokeList-getmore {
    font-size: 1.3rem;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem 1rem;
    color: white;
    font-weight: 700;
    margin: 2rem;
    word-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.2,1,0.2,1);
    border: none;
    outline: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.3);
    background: linear-gradient(
        135deg,
        rgba(179,229,252,1)0%,
        rgba(179,229,252,1)50%,
        rgba(240,98,146,1)50%,
        rgba(240,98,146,1)100%
        );

}
.JokeList-getmore:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}